<div class="avatar-card">
  <div class="padded-right">
    <%= link_to user_cocktails_path(user), class: "avatar-link" do %>
      <%= image_tag avatar_url(user), class: "avatar-large" %>
    <% end %>
  </div>
  <div class="user-and-date">
    <p class="user-name">
      <%= link_to user.first_name, user_cocktails_path(user) %>
    </p>
    <p class="date-info"><%= timestamp.strftime("%d %b, %Y") %></p>
  </div>
</div>
