<footer>
      <div>
        <span class="copyright">Copyright &copy; Rodloboz 2017</span>
      </div>
      <div>
          <ul class="list-inline social-buttons">
              <li>
                <a href="https://www.facebook.com/feiwailong" target="_blank">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li>
                <a href="https://rodloboz.github.io/profile/" target="_blank">
                  <i class="fa fa-github"></i>
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/freitasrui/" target="_blank">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>
          </ul>
      </div>

</footer>
