<div class="review-card">
  <table>
    <tr>
      <td id="review-content"><%= review.content %></td>
      <td id="review-rating"><span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span></td>
    </tr>
  </table>
</div>
