<div class="review-card">
  <div class="row">
    <div class="col-md-3 text-center">
      <%= image_tag avatar_url(review.user), class: "avatar-large" %>
      <p><%= review.user.first_name %></p>
    </div>
    <div class="col-md-9">
      <p id="review-content"><%= review.content %></p>
      <p id="review-rating"><%= set_stars(review.rating) %></p>
    </div>
  </div>
</div>

