<div class="review-card">
  <table>
    <tr>
      <td id="review-content"><%= review.content %></td>
      <td id="review-rating">
        <%= set_stars(review.rating) %>
      </td>
    </tr>
  </table>
</div>
